<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand">DAILY JOURNAL</p>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li id="home"><a href="/home">HOME</a></li>
      <li id="compose"><a href="/compose">COMPOSE</a></li>
      <li id="about"><a href="/about">ABOUT US</a></li>
      <li id="contact"><a href="/logout">LogOut</a></li>
    </ul>
  </div>
</nav>