<%- include('partials/header'); -%>
<%- include('partials/nav'); -%>

<h1>About</h1>
<P> We are team of fullstack developers  if you have any project idea contact us! on <a href="mailto:siddarth.mewara597@gmail.com">@siddarth.mewara597@gmail.com </a></P>
<%- include('partials/footer'); -%>
